/** Custom styles */

.header-bar {
    border-top: 0;
}

.frontpage-cover {
    background-image: src('/assets/images/cover.png');
}

.home {
    .wrap {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.docs-navigation {
    .card {
        .card-body {
            color: $link-color-dark;
        }
    }
}

.doks-sidebar {
  h3 {
    color: $link-color-dark;
  }
}

#offcanvasExampleLabel {
  color: $link-color-dark;
}

#mode {
  display: none;
}
